 /* CSS reset */
 body {
    /* margin: 0px;padding: 0px; */
    font-family: 'Baloo Bhai 2', cursive;
    background: url('ppp.jpg');
    background-size: 1336px 1336px;
    font-weight: bold;
    /* height: 165px;
    width: 248px;
    aspect-ratio: auto 248/165; */
    color: white;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute; /*The element is removed from the normal document flow, and no space is created for the element in the page layout. It is positioned relative to its closest positioned ancestor, if any; otherwise, it is placed relative to the initial containing block. Its final position is determined by the values of top, right, bottom, and left.*/
    left: 60px;
    top: 20px;
    width: 97px;
    margin: auto;/*You can set the margin property to auto to horizontally center the element within its container.*/

}

.left img {

    width: 67px;
    border-radius: 53px;
    margin: auto 17px; /*here y axis is auto and x is customizable*/
}

.left div {
    text-align: center; /*text alignment*/
    font-size: 13px;
    line-height: 21px; /*it gives height to the line*/
    font-size: 13px;
}

.mid {
    /* border: 2px solid rgb(26, 198, 52); */
    display: block;
    width: 38%;
    margin: 20px auto;
    /*auto here brings element to center*/


}

.right {
    position: absolute;
    /*props is dependent on parent and here the parent is header*/
    top: 20px;
    right: 34px;
    /* border: 2px solid violet; */
    display: inline-block;
}

.navBar li {
    display: inline-block;
}

.navBar li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    /*to remove underline from hyperlinks*/
    padding: 17px 15px;

}

.navBar li a:hover,
.navBar li a.active {
    text-decoration: underline;
    color: aqua;
}

.btn {
    margin: 0px 10px;
    background-color: black;
    color: white;
    padding: 8px 14px;
    border: 2px solid aqua;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
    width: fit-content; /*width will be set acc to content*/

}

.btn:hover {
    background-color: rgb(255, 204, 0);
    color:black;
}

/*container*/
.container {
    border: 2px solid white;
    margin: 143px 50px;
    border-radius: 25px;
    padding: 42px 50px;
    font-size: 14px;
    width: 33%;
}

.form-group input {
    text-align: center;
    display: inline;
    width: 353px;
    padding: 7px;
    border: 2px solid pink;
    margin: 6px;
    border-radius: 40px;
    font-size: 15px;
    font-family: 'Baloo Bhai 2', cursive;
}
.container h1{
    text-align: center;
}
#sub
{
    margin: 34px auto;
    
}